body {
    background: linear-gradient(to right, #74ebd5, antiquewhite);
    /*background-image: url("../imagens/fundo.jpg");*/
    background-size: cover; /* cobre toda a tela */
    background-repeat: no-repeat;
    background-attachment: fixed; /* efeito parallax */
}

table {
    width: 100%;
    margin-top: -1px;
}

.btn {
    font-family: 'Verdana', sans-serif;
    font-size: 30px;
    text-align: center;
    padding: 20px;
    border: 6px solid antiquewhite;
    background-color: aliceblue;
    background-image: url("");
}

.cabecalho {
    text-align: center;
}

h1#ANOS {
    width: 100%;
    text-align: center;
}

#ano {
    text-align: center; 
    background-color: aliceblue;
    border: 4px solid antiquewhite;
}

.opcaoValida {
    background:linear-gradient(to right, #74ebd5, #ef5d5d);
    color:black;
}

td{
    text-align: justify;
}

.hd{
    text-align: center;

}