body {
    background: linear-gradient(to right, #74ebd5, antiquewhite);
    /*background-image: url("../imagens/fundo.jpg");*/
    background-size: cover; /* cobre toda a tela */
    background-repeat: no-repeat;
    background-attachment: fixed; /* efeito parallax */
    padding-top: 25px;
}

header{
    text-align: center;
    padding-top: 75px;
    margin-bottom: 75px;
}

table {
    width: 100%;
    margin-top: -1px;
}

.btn {
    font-family: 'Verdana', sans-serif;
    font-size: 30px;
    text-align: center;
    padding: 20px;
    border: 6px solid antiquewhite;
    background-color: aliceblue;
    background-image: url("");
}

.cabecalho {
    text-align: center;
    margin-bottom: 25px;
}

h1#ANOS {
    width: 100%;
    text-align: center;
}

#ano {
    text-align: center; 
    background-color: aliceblue;
    border: 4px solid antiquewhite;
    margin-top: 100px;
    
}

.opcaoValida {
    background:linear-gradient(to right, #74ebd5, #ef5d5d);
    color:black;
    font-weight: bold;
}

.table td,
.table th {
  background-color:transparent !important;
}

td{
    text-align: justify;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 5px;
    padding-top: 5px;
}

th{
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.sodescricao{
    text-align: center;

}

@media (max-width: 576px){
    header { padding: 18px 0; margin-bottom: 16px; }
    body { padding-top: 64px; }
}